<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	
		<dict>
			<key>cellClass</key>
			<string>DuoTwitterCell</string>
			<key>firstLabel</key>
			<string>🌸 Litten</string>
			<key>firstAccount</key>
			<string>Litteeen</string>
			<key>secondLabel</key>
			<string>taki</string>
			<key>secondAccount</key>
			<string>74k1_</string>
			<key>height</key>
			<real>57</real>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Date</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select Calendar Apps..</string>
			<key>action</key>
			<string>selectDateApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>MMMM</string>
			<key>placeholder</key>
			<string>MMMM</string>
			<key>defaults</key>
			<string>love.litten.avrorapreferences</string>
			<key>label</key>
			<string>Date Format:</string>
			<key>key</key>
			<string>dateFormat</string>
			<key>PostNotification</key>
			<string>love.litten.avrorapreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Clock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select Clock Apps..</string>
			<key>action</key>
			<string>selectClockApp</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Weather</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select Weather Apps..</string>
			<key>action</key>
			<string>selectWeatherApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.avrorapreferences</string>
			<key>key</key>
			<string>condition</string>
			<key>label</key>
			<string>Condition</string>
			<key>PostNotification</key>
			<string>love.litten.avrorapreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.avrorapreferences</string>
			<key>key</key>
			<string>temperature</string>
			<key>label</key>
			<string>Temperature</string>
			<key>PostNotification</key>
			<string>love.litten.avrorapreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Now Playing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select Now Playing App Apps..</string>
			<key>action</key>
			<string>selectNowPlayingApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.avrorapreferences</string>
			<key>key</key>
			<string>songTitle</string>
			<key>label</key>
			<string>Song Title</string>
			<key>PostNotification</key>
			<string>love.litten.avrorapreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.avrorapreferences</string>
			<key>key</key>
			<string>artistName</string>
			<key>label</key>
			<string>Artist Name</string>
			<key>PostNotification</key>
			<string>love.litten.avrorapreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respringUtil</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Preferences</string>
			<key>action</key>
			<string>resetPrompt</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developer Of Calendate</string>
			<key>footerText</key>
			<string>Thanks kritanta For The Pretty Twitter Cells</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
            <key>action</key>
            <string>twitterLitten</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>@ArtikusHG</string>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>ArtikusHG</string>
            <key>user</key>
            <string>ArtikusHG</string>
        </dict>
		<dict>
            <key>action</key>
            <string>twitterLitten</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>@_kritanta</string>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>kritanta</string>
            <key>user</key>
            <string>_kritanta</string>
        </dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>You Might Like:</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Lune</string>
			<key>subtitle</key>
			<string>Let A Moon Icon Appear While In DND</string>
			<key>icon</key>
			<string>Lune.png</string>
			<key>url</key>
			<string>https://repo.litten.love/depictions/lne/</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Butterfly</string>
			<key>subtitle</key>
			<string>Text Selection, But Colorful</string>
			<key>icon</key>
			<string>Butterfly.png</string>
			<key>url</key>
			<string>https://repo.litten.love/depictions/bty/</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Rose</string>
			<key>subtitle</key>
			<string>System Wide Haptics, Great uh-huh</string>
			<key>icon</key>
			<string>Rose.png</string>
			<key>url</key>
			<string>https://repo.litten.love/depictions/rse/</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Avrora By Litten
Artworks By taki</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate To Litten</string>
			<key>subtitle</key>
			<string>Appreciated 💝</string>
			<key>url</key>
			<string>https://paypal.me/Litteeen</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>subtitle</key>
			<string>GitHub 📅</string>
			<key>url</key>
			<string>https://github.com/Litteeen/Avrora</string>
		</dict>

		<dict>
			<key>cell</key>
			<key>PSGroupCell</key>
			<key>footerText</key>
			<string>Made With 💜</string>
			<key>isStaticText</key>
			<true/>
			<key>footerAlignment</key>
			<real>1</real>
		</dict>

	</array>
	<key>title</key>
	<string>Avrora</string>
</dict>
</plist>
